.items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    /* 자신의 영역 밖에 위치한 엘리먼트(element)가 보이지 않도록 감춘다. */
    overflow: hidden;
}

.carousel {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    color: gray;
}

.item {
    /* 기본적으로 아이템 블럭들을 보이지 않고, 영역을 차지하지 않도록 합니다. */
    display: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.active {
    display: block;
    /* `appear` 애니메이션을 1.2초에 걸쳐 실행합니다. */
    animation: appear 1.2s;
}

@keyframes appear {

    /* 시작 */
    from {
        /* 투명한 상태에서 시작합니다. */
        opacity: 0;
        /* 현재 위치보다 20px 아래에서 시작합니다. */
        transform: translateY(20px);
    }

    /* 종료 */
    to {
        /* 투명하지 않은 정상적인 상태로 종료됩니다. */
        opacity: 1;
        /* 현재 위치까지 이동 후 종료합니다. */
        transform: translateY(0px);
    }
}