.main {
    position: relative;
    width: 600px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid lightgray;
    border-radius: 20px;
}

input {
    margin-left: 5%;
    width: 90%;
    height: 100%;
    border-color: lightgray;
    border: 0px;
    font-size: 16px;
    outline: none;
    text-align: center;
}

.searching {
    position: absolute;
    left: 10px;
    top: 20%;
}

i:hover {
    cursor: pointer;
    /* i태그에 :hover를 붙이면 i태그에 
    마우스를 올렸을때 효과가 나타남 */
}


button.m {
    margin-left: 80%;
    width: 22px;
    height: 22px;
    text-align: center;
    color: black;
    background-color: transparent;
    border-color: black;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}