input {
    margin-top: 19%;
    margin-left: 23%;
    width: 50%;
    height: 50%;
    border-color: black;
    border: 3px solid pink;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
}

.m {}