#m {
    position: fixed;
    left: 80.1%;
    top: 80%;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-color: lightgray;
    font-size: 20px;
    cursor: pointer;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 20px;
    text-align: center;
}

#box {
    position: fixed;
    left: 80.1%;
    top: 60%;
    width: 35px;
    height: 10%;
    line-height: 80px;
    color: gray;
    border: 0px solid lightgray;
    border-radius: 30px;
    text-align: center;
    line-height: 300%;
}