.title {
    text-align: center;
    font-size: 2rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card {
    width: 900px;
    height: 500px;
    perspective: 1100px;
    position: relative;
    margin: 10px;
    transition: 0.3s;
    transform-style: preserve-3d;
    /*스스로를 좌우정렬함*/
    margin: 0 auto;
    /*자식 요소들을 모두 정중앙으로 정렬함*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    /*flex 방식으로 자식들을 정렬시킬건데*/
    display: flex;
    /*정렬 방향이 좌우(행렬 할때 열) 이다*/
    flex-direction: row;
}

.front {
    background: white;
}

.back {
    backface-visibility: hidden;
    background: white;
    transform: rotateY(180deg);
}

.front-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*정렬 방향이 상하(행렬 할때 열) 이다*/
    flex-direction: column;
}

.back-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*정렬 방향이 상하(행렬 할때 열) 이다*/
    flex-direction: column;
}